/******************** Media Query Starts here for fully responsiveness */
@media (min-width: 100px) and (max-width: 560px) {

    .product_card {
        margin: 0px 40px 30px 40px;
        width: 22rem;
        border: none;
    }

    .product_content {
        margin-right: 110px;
    }

}

@media (min-width: 560px) and (max-width: 600px) {

    .product_card {
        margin: 0px 40px 30px 90px;
        width: 13rem;
        border: none;
    }

    .product_content {
        margin-right: 110px;
    }

}

@media (min-width: 600px) and (max-width: 650px) {

    .product_card {
        margin: 0px 40px 30px 40px;
        width: 11rem;
        border: none;
    }

    .product_content {
        margin-right: 70px;
    }

    .row_small_screen_products {
        margin-right: 0px;
        ;
        flex-wrap: nowrap;
    }

}

@media (min-width: 650px) and (max-width: 700px) {

    .product_card {
        margin: 0px 40px 30px 40px;
        width: 12rem;
        border: none;
    }

    .product_content {
        margin-right: 85px;
    }

    .row_small_screen_products {
        margin-right: 0px;
        ;
        flex-wrap: nowrap;
    }

}

@media (min-width: 700px) and (max-width: 750px) {

    .product_card {
        margin: 0px 40px 30px 40px;
        width: 13rem;
        border: none;
    }

    .product_content {
        margin-right: 90px;
    }

    .row_small_screen_products {
        margin-right: 0px;
        ;
        flex-wrap: nowrap;
    }

}

@media (min-width: 750px) and (max-width: 800px) {

    .product_card {
        margin: 0px 40px 30px 40px;
        width: 14rem;
        border: none;
    }

    .product_content {
        margin-right: 100px;
    }

    .row_small_screen_products {
        margin-right: 0px;
        ;
        flex-wrap: nowrap;
    }

}

@media (min-width: 800px) and (max-width: 850px) {

    .product_card {
        margin: 0px 40px 30px 40px;
        width: 15rem;
        border: none;
    }

    .product_content {
        margin-right: 110px;
    }

    .row_small_screen_products {
        margin-right: 0px;
        ;
        flex-wrap: nowrap;
    }

}

@media (min-width: 850px) and (max-width: 900px) {

    .product_card {
        margin: 0px 40px 30px 40px;
        width: 16rem;
        border: none;
    }

    .product_content {
        margin-right: 120px;
    }

    .row_small_screen_products {
        margin-right: 0px;
        ;
        flex-wrap: nowrap;
    }


}

@media (min-width: 900px) and (max-width: 950px) {

    .product_card {
        margin: 0px 40px 30px 40px;
        width: 17rem;
        border: none;
    }

    .product_content {
        margin-right: 130px;
    }

    .row_small_screen_products {
        margin-right: 0px;
        ;
        flex-wrap: nowrap;
    }

    .footer_col_social_icon {
        padding-right: 5px;
    }

}

@media (min-width: 950px) and (max-width: 990px) {

    .product_card {
        margin: 0px 40px 30px 40px;
        width: 18rem;
        border: none;
    }

    .product_content {
        margin-right: 130px;
    }

    .row_small_screen_products {
        margin-right: 0px;
        ;
        flex-wrap: nowrap;
    }

    .footer_col_social_icon {
        padding-right: 5px;
    }

}

@media (min-width: 990px) and (max-width: 1050px) {
    .nav_bar_customs .myprimary_menu .nav-item .nav-link {
        margin-right: 45px;
    }

    .header_content_right {
        padding-left: 3%;
    }

    .product_card {
        width: 14rem;
        border: none;
    }

    .product_content {
        margin-right: 50px;
    }

    .row_small_screen_products {
        margin-right: 0px;
        ;
        flex-wrap: nowrap;
    }

    .footer_col_social_icon {
        padding-right: 5px;
    }
}

@media (min-width: 1050px) and (max-width: 1100px) {
    .nav_bar_customs .myprimary_menu .nav-item .nav-link {
        margin-right: 48px;
    }

    .header_content_right {
        padding-left: 8%;
    }

    .product_card {
        width: 15rem;
        border: none;
    }

    .product_content {
        margin-right: 55px;
    }

    .footer_col_social_icon {
        padding-right: 5px;
    }
}

@media (min-width: 1100px) and (max-width: 1200px) {
    .nav_bar_customs .myprimary_menu .nav-item .nav-link {
        margin-right: 60px;
    }

    .header_content_right {
        padding-left: 12%;
    }

    .footer_col_social_icon {
        padding-right: 10px;
    }

    .product_card {
        width: 16rem;
        border: none;
    }

    .product_content {
        margin-right: 65px;
    }
}

@media (min-width: 1200px) and (max-width: 1250px) {
    .nav_bar_customs .myprimary_menu .nav-item .nav-link {
        margin-right: 65px;
    }

    .header_content_right {
        padding-left: 18%;
    }

    .product_card {
        width: 17rem;
        border: none;
    }

    .product_content {
        margin-right: 65px;
    }
}

@media (min-width: 1250px) and (max-width: 1300px) {
    .nav_bar_customs .myprimary_menu .nav-item .nav-link {
        margin-right: 70px;
    }

    .header_content_right {
        padding-left: 20%;
    }

    .product_card {
        width: 18rem;
        border: none;
    }

    .product_content {
        margin-right: 70px;
    }
}

@media (min-width: 1300px) and (max-width: 1350px) {
    .nav_bar_customs .myprimary_menu .nav-item .nav-link {
        margin-right: 75px;
    }

    .header_content_right {
        padding-left: 22%;
    }

    .product_card {
        width: 19rem;
        border: none;
    }

    .product_content {
        margin-right: 70px;
    }
}

@media (min-width: 1350px) and (max-width: 1400px) {
    .nav_bar_customs .myprimary_menu .nav-item .nav-link {
        margin-right: 80px;
    }

    .header_content_right {
        padding-left: 24%;
    }

    .product_card {
        width: 20rem;
        border: none;
    }

    .product_content {
        margin-right: 80px;
    }
}

@media (min-width: 1400px) and (max-width: 1450px) {
    .nav_bar_customs .myprimary_menu .nav-item .nav-link {
        margin-right: 90px;
    }

    .header_content_right {
        padding-left: 30%;
    }

    .product_card {
        width: 20rem;
        border: none;
    }

    .product_content {
        margin-right: 75px;
    }
}

@media (min-width: 1450px) and (max-width: 1500px) {
    .nav_bar_customs .myprimary_menu .nav-item .nav-link {
        margin-right: 100px;
    }

    .header_content_right {
        padding-left: 32%;
    }

    .product_card {
        width: 21rem;
        border: none;
    }

    .product_content {
        margin-right: 80px;
    }
}

@media (min-width: 1500px) and (max-width: 1550px) {
    .nav_bar_customs .myprimary_menu .nav-item .nav-link {
        margin-right: 110px;
    }

    .header_content_right {
        padding-left: 35%;
    }

    .product_card {
        width: 22rem;
        border: none;
    }

    .product_content {
        margin-right: 85px;
    }
}

@media (min-width: 1550px) and (max-width: 1600px) {
    .nav_bar_customs .myprimary_menu .nav-item .nav-link {
        margin-right: 120px;
    }

    .header_content_right {
        padding-left: 37%;
    }

    .product_card {
        width: 22rem;
        border: none;
    }

    .product_content {
        margin-right: 80px;
    }
}

@media (min-width: 1600px) and (max-width: 1650px) {
    .nav_bar_customs .myprimary_menu .nav-item .nav-link {
        margin-right: 130px;
    }

    .header_content_right {
        padding-left: 38%;
    }

    .product_card {
        width: 23rem;
        border: none;
    }

    .product_content {
        margin-right: 86px;
    }
}

@media (min-width: 1650px) {
    .nav_bar_customs .myprimary_menu .nav-item .nav-link {
        margin-right: 145px;
    }

    .header_content_right {
        padding-left: 40%;
    }
}

/* Main Container and Side Navbar margins and paddings for responsiveness */
@media (min-width: 100px) and (max-width: 1650px) {
    .main_container {
        /* padding-left: 1%;
        padding-right: 1%; */
    }

    .sidenav_container {
        padding: 0px 0px 0px 0px;
    }
}

/* Small screen header layout control */
@media (min-width: 990px) {
    .header_logo_container_small {
        display: none;
        /* margin: 100px; */
    }
}

@media (min-width: 10px) and (max-width: 991px) {
    .nav_bar_customs .myprimary_menu .nav-item .nav-link {
        margin-right: 40px;
    }

    .header_content_right {
        display: none;
    }

    .main_container {
        padding: 2px;
    }

    .header_content_left {
        text-align: center;
        color: #999999;
    }

    .hr_header {
        margin-top: 0px;
        display: none;
    }

    .header_container {
        padding: 12px;
        background-color: #F8F8F8;
    }

    .header_container_detail_link {
        color: #868686;
    }

    .side_navbar_filterby {
        display: none;
    }

    .brand_logo {
        width: 40%;
        margin-top: 2%;
        padding-right: 0%;
        margin-right: 0%;
    }

    .shopping_cart {
        width: 65%;
        padding-top: 13px;
        ;
    }

    .search_bar {
        padding-top: 15px;
        padding-left: 0px;
    }

    .header_logo_container_small {
        display: contents;
    }

    .brand_logo {
        width: 120px;
        display: block;
        margin-top: 10px;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .shopping_cart {
        width: 35px;
        display: block;
        margin-bottom: 10px;
        margin-left: auto;
    }

    .img-btn {
        display: none;
    }

    .card_body {
        margin-top: -10px;
        ;
    }

    .header_logo_container,
    .navbar {
        display: none;
    }

    .search_result {
        margin: 0px 40px 30px 25px;
    }

    .row_small_screen_header {
        flex-wrap: nowrap;
    }

    .hr_footer_links_bottom {
        margin-top: 20px;
    }
}

/* Footer responsive for the small screens */
@media (min-width: 10px) and (max-width: 1030px) {

    .row_small_screen_footer {
        display: flex;
        flex-direction: column;
    }

    .hr_footer_links_bottom {
        margin-top: 20px;
    }

    .footer_col_heading {
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .hr_footer_seperator_small_screen {
        display: flex;
        padding: 0%;
    }

    .footer_store_button {
        width: 100px;
    }
    .side_navbar_headings{
        font-size: large;
        font-weight: bold;
    }
}


/************************ Media Query Starts here for fully responsiveness */














/* Mega Menu Code-Media Queries */
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {}

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: -8px;
    }
}

/* ============ desktop view .end// ============ */


.navbar .megamenu {
    padding: 1rem;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .navbar .has-megamenu {
        position: static !important;
    }

    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }
}

/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px) {

    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}

/* ============ mobile view .end// ============ */